@model DatabaseFirstApp.Models.EmployeeTable


<h2>@Html.ActionLink("Back to Home Page", "Index")</h2>
<form method="post" asp-controller="Home" asp-action="Delete">
    <table>
        <tr>
            <td>
                <input type="hidden" asp-for="@Model.EmpId" />
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" asp-for="@Model.EmpName" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" asp-for="@Model.EmpAge" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" asp-for="@Model.EmpAdd" /></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" asp-for="@Model.EmpSal" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete" /></td>
        </tr>
    </table>
</form>
